CONFIG_PATH=config/local.yaml
POSTGRES_USER=orders
POSTGRES_PASSWORD=orders
POSTGRES_DB=orders
DATABASE_URL=postgres://orders:orders@localhost:5432/orders?sslmode=disable
LOG_LEVEL=debug #debug, info, warn, error
PORT=8082
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_ORDERS=orders.create
KAFKA_CONSUMER_GROUP=order-service