ENV=local
CONFIG_PATH=config/local.yaml
POSTGRES_USER=orders
POSTGRES_PASSWORD=orders
POSTGRES_DB=orders
DATABASE_URL=postgres://orders:orders@localhost:5432/orders?sslmode=disable
LOG_LEVEL=debug #debug, info, warn, error
HTTP_PORT=8080
GRPC_PORT=8081
# docker compose (сеть контейнеров): broker:29092
# make local-run (с хоста): localhost:9094
KAFKA_BROKERS=broker:29092
KAFKA_TOPIC_ORDERS=orders.create
KAFKA_CONSUMER_GROUP=order-service
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://orders:orders@localhost:5432/orders?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations
E2E_BASE_URL=http://127.0.0.1:8080